<h2>Contribute some shit</h2>

<form method="POST" action="/articles" >
	<label for="articleTitle">Title</label>
	<input type="text" name="articleTitle"/>

	<label for="articleBody">Text</label>
	<input type="text" name="articleBody"/>

	<input type="submit" value="To the Cloud!">

</form>